@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

#root {
  min-height: 100vh;
}

#root .container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: max-content;
  padding: 0;
  overflow: unset;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1em;
}

body {
  background: linear-gradient(-45deg, #5c2ab8, #32aca6, #eb9c26, #c545b0);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}
div.Codemirror,
#console textarea,
div button {
  line-height: 1em;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9b9b9b28;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 190, 114);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 155, 77);
}

#wrap {
  width: 85vw;
  background-color: rgba(27, 25, 37, 0.8);
  border-radius: 10px;
  padding: 20px 15px;
  box-shadow: 5px 5px black;
}

.app-logo {
  text-align: center;
  height: 90px;
}

.app-logo span {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  color: khaki;
  text-decoration: underline;
  text-shadow: 4px 2px black;
  line-height: initial;
}

div button,
.app-logo,
.dropdown-content,
.credits {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div button {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px auto;
  font-weight: 300;
}

button:hover {
  background-color: rgba(202, 202, 202, 0.363);
  cursor: pointer;
}
button:active {
  border: 2px inset rgb(85, 85, 85);
  border-radius: 12%;
  /*padding: 5px 17px;*/
  size: 12px;
}

#centered-col {
  float: none;
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 95%;
}

.dropdown-content span {
  background-color: rgb(53, 50, 65);
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 1em;
}

.dropdown-content span:hover {
  background-color: rgba(30, 26, 46, 1);
  cursor: pointer;
}

.show {
  display: block;
}

.dropdown-content span.selected-tab {
  background-color: rgb(248, 234, 110);
  color: black;
}

#buttons {
  padding: 10px 30px 0;
}

#code {
  padding: 10px 30px;
}

div.CodeMirror {
  font-family: 'Fira Code', monospace;
  size: 11px;
}
.codemirror {
  padding-top: 15px;
}

#consolearea {
  padding: 10px 30px;
}

#console {
  padding: 15px 15px 0;
}

#console textarea {
  font-family: 'Fira Code', monospace;
  font-size: 11px;
  margin: auto;
  width: 100%;
  height: 300px;
  padding: 12px 8px;
  scrollbar-width: 0;
  border-radius: 10px;
  background-color: rgb(22, 12, 22);
  color: khaki;
}

div.popup-content {
  width: 90%;
  max-height: 90%;
}

.popup {
  background-color: rgb(53, 50, 65);
  max-height: 100vh;
}
.credits {
  padding: 15px 0 10px;
  text-align: center;
}

.credits span {
  font-family: 'Noto Sans JP', sans-serif;
  color: thistle;
}
