body {
	background-color: rgb(31, 30, 39);
}

.el {
	display: inline;
	list-style-type: none;
	margin: 10px 20px;
}

.btn {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 8%;
	padding: 5px 20px;
	min-width: 140px;
}
.btn:hover {
	background-color: rgba(202, 202, 202, 0.363);
	cursor: pointer;
}
.btn:active {
	border: 3px solid white;
	border-radius: 12%;
	padding: 3px 17px;
    size: 12px;
}

#nav {
	margin: 0 100px;
}

#code {
	margin: 50px 100px;
}

#exec {
	margin: 0 100px;
}

#exec ul {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#rep {
	margin: 0 100px;
}
